*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --background-color-light:#f5f5f5;
    --background-color-dark: #e9e8e8;

    
    --container-box-shadow:rgb(29, 27, 27);

    --container-color-light:white;
    --container-color-dark:rgb(251, 249, 249);
    --container-color-darker:rgb(221, 220, 220);

    --content-color-one-base:#ff624f;
    --content-color-one-light:#fc7060;
    --content-color-one-dark:#e75646;

    --content-color-two-base:#484e49;

    --disabled-button-background:rgb(154, 144, 144);
    --disabled-button-color:rgb(0, 0, 0);

}

body{
    height: 100vh;

    width: 100vw;

    background-image: radial-gradient(rgb(110, 99, 99),rgb(51, 47, 47));

    background-image: radial-gradient(var(--background-color-light),var(--background-color-dark));
}

.blur-overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    right:0;
    left:0;
    filter:blur(6px);
    background-image: radial-gradient(rgb(110, 99, 99),rgb(51, 47, 47));
    z-index: 2;
}

.theme-switch-button-container{
    position: absolute;
    top:5%;
    right:5%;
    height: 30px;
    width: 60px;
    background-color: var(--container-color-light);
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.theme-switch-button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: var(--content-color-one-base);
    transform: scale(0.9);
}
.theme-switch-button-light-mode{
    position: absolute;
    left:0;
    transition: all 0.3s;
}
.theme-switch-button-dark-mode{
    position: absolute;
    left:100%;
    transform: translateX(-100%) scale(0.9);
    transition: all 0.3s;
}

.container{
    width: 80%;
    max-width: 700px;
    height: 80%;
    max-height: 700px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(46, 46, 46);
    box-shadow: 0px 0px 10px 1px var(--container-box-shadow);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: radial-gradient(white,rgb(223, 211, 211));
    background-image: radial-gradient(var(--container-color-light),var(--container-color-dark));
    overflow: hidden;
    z-index:3;
    
}

.container::after{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;

    background-color:darkviolet;
    background-color:var(--content-color-one-base);

    display: block;
    bottom:-50px;
    right:-50px;
    border-radius: 100%;

    box-shadow: 0px 0px 100px 1px darkviolet;
    box-shadow: 0px 0px 100px 1px var(--content-color-one-base);

    animation-name: container-after-animation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function:ease;

}

@keyframes container-after-animation {
    0%{
        bottom:50%;
        right:100%;
        height: 50px;
        width: 50px;
    }
    25%{
        bottom:-1%;
        right:50%;
        height: 50px;
        width: 50px;
    }
    50%{
        bottom:5%;
        right:25%;
        height: 70px;
        width: 70px;
    }
    100%{
        bottom:-50px;
        right:-50px;
    }
}

h1,h3{
    text-align: center;
}

h1{
    margin:10px 0px;
    width: 100%;
    color:rgb(71, 67, 67);
    color:var(--content-color-two-base);
}

.pikachu-container{
    position: absolute;
    top:0;
    height: 100px;
    width: 100px;
}

.pikachu-container path,.pikachu-container circle{
    fill:rgb(97, 5, 136);
    fill: var(--content-color-one-dark);
}

.initial-array-text{
    font-size: 20px;
    margin:20px 0px;
}

.button-container{
    margin:20px 0px;
}

.button-container button{
    padding:10px;

    background-color: darkviolet;
    background-color: var(--content-color-one-base);

    color:white;
    border: none;
    width: 100px;
    font-size: 15px;
    border-radius: 10px;

    box-shadow: 2px 2px 10px 0px grey;
    box-shadow: 2px 2px 10px 0px var(--container-color-darker);

    transition: all 0.3s;
    cursor: pointer;
}

.button-container button:active{
    box-shadow: none;
    transform: scale(0.8);
    transition: all 0.3s;
}

.button-container button:disabled{
    background-color: rgb(175, 174, 174);
    background-color: var(--disabled-button-background);
    box-shadow: none;

    color:black;
    color:var(--disabled-button-color);

    cursor:auto;
}

.button-container button:disabled:active{
    transform: scale(1);
}

.array-to-text-container{
    color:darkviolet;
    color:var(--content-color-one-base);

    font-size: 30px;
}

.sorting-status-div{
    /* for ::before to work */
    position: relative;

    font-size: 25px;
    margin:10px 0px;
    /* lighter color than darkviolet so that users don't confuse it with buttons */
    color:#ac4ed4;
    color:var(--content-color-one-light);

    border: 2px dashed #ac4ed4;
    border: 2px dashed var(--content-color-one-light);

    padding:10px;
    padding-top:20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.sorting-status-div::before{
    content:"status!";
    position: absolute;
    top:0;
    left:0;
    background-color: #ac4ed4;
    background-color: var(--content-color-one-light);
    border-top-left-radius: 5px;
    color:white;
    font-size: 15px;
    padding:2px 4px;
}

.visualizer{
    display: flex;
    margin:auto 0px;
}

.block{
    background-color: rgb(51, 50, 50);
    background-color: var(--content-color-two-base);
    color:white;
    color:var(--container-color-light);
    width: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transform: scale(0.8);
    transition: all 0.3s;
    
}

.block-in-focus{
    background-color: darkviolet;
    background-color: var(--content-color-one-base);
}

.move-right{
    animation-name: move-block-right-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes move-block-right-animation {
    0%{
        position: relative;
        transform: translate(0px,0px) scale(0.8);
    }
    50%{
        position: relative;
        transform: translate(0px,50px)  scale(0.8);
    }
    80%{
        position: relative;
        transform: translate(60px,50px)  scale(0.8);
    }
    100%{
        position: relative;
        transform: translate(60px,0px)  scale(0.8);
        
    }
    
}

.move-left{
    animation-name: move-block-left-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes move-block-left-animation {
    0%{
        position: relative;
        transform: translate(0px,0px)  scale(0.8);
    }
    100%{
        position: relative;
        transform: translate(-60px,0px)  scale(0.8);
    }
    
}

@media (max-width:750px) and (min-width:600px){
    .visualizer{
        transform: scale(0.7);
    }
    .array-to-text-container{
        font-size: 20px;
    }
    .sorting-status-div{
        font-size: 20px;
    }
    .pikachu-container{
        height: 50px;
        width: 50px;;
    }
}

@media (min-width:500px) and (max-width:600px){
    .visualizer{
        transform: scale(0.6);
    }
    .array-to-text-container{
        font-size: 20px;
    }
    .sorting-status-div{
        font-size: 20px;
    }
    .pikachu-container{
        height: 50px;
        width: 50px;;
    }
    .theme-switch-button-container{
        transform: scale(0.5);
    }
}

@media (max-width:500px){
    .visualizer{
        transform: scale(0.5);
    }
    .array-to-text-container{
        font-size: 20px;
    }
    .sorting-status-div{
        font-size: 20px;
    }
    .pikachu-container{
        height: 50px;
        width: 50px;;
    }
    .theme-switch-button-container{
        transform: scale(0.5);
        transition: all 0.3s;
    }
}
