*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgb(110, 99, 99),rgb(51, 47, 47));
}

.blur-overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    right:0;
    left:0;
    filter:blur(6px);
    background-image: radial-gradient(rgb(110, 99, 99),rgb(51, 47, 47));
    z-index: 2;
}

.container{
    width: 80%;
    max-width: 700px;
    height: 80%;
    max-height: 700px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(46, 46, 46);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: radial-gradient(white,rgb(223, 211, 211));
    overflow: hidden;
    z-index:3;
    
}

.container::after{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color:darkviolet;
    display: block;
    bottom:-50px;
    right:-50px;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 1px darkviolet;

}

h1,h3{
    text-align: center;
}

h1{
    margin:10px 0px;
    width: 100%;
    color:rgb(71, 67, 67)
}

.pikachu-container{
    position: absolute;
    top:0;
    height: 100px;
    width: 100px;
}

.pikachu-container path,.pikachu-container circle{
    fill:rgb(97, 5, 136);
}

.initial-array-text{
    font-size: 20px;
    margin:20px 0px;
}

.button-container{
    margin:20px 0px;
}

.button-container button{
    padding:10px;
    background-color: darkviolet;
    color:white;
    border: none;
    width: 100px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px grey;
    transition: all 0.3s;
    cursor: pointer;
}

.button-container button:active{
    box-shadow: none;
    transform: scale(0.8);
    transition: all 0.3s;
}

.button-container button:disabled{
    background-color: grey;
    box-shadow: none;
    color:black;
}

.button-container button:disabled:active{
    transform: scale(1);
}

.array-to-text-container{
    color:darkviolet;
    font-size: 30px;
}

.sorting-status{
    font-size: 25px;
    color:rgb(255, 255, 255);
    margin:10px 0px;
    background-color: #9400d3;
    padding:10px;
    border-radius: 5px;
}

.visualizer{
    display: flex;
    margin:auto 0px;
}

.block{
    background-color: rgb(51, 50, 50);
    color:white;
    width: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transform: scale(0.8);
    transition: all 0.3s;
    
}

.block-in-focus{
    background-color: darkviolet;
}

.move-right{
    animation-name: move-block-right-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

@keyframes move-block-right-animation {
    0%{
        position: relative;
        top:0px;
        left:0px;
    }
    50%{
        position: relative;
        top:50px;
        left:0px;
    }
    80%{
        position: relative;
        top:50px;
        left:60px;
    }
    100%{
        position: relative;
        top:0px;
        left:60px;
    }
    
}

.move-left{
    animation-name: move-block-left-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes move-block-left-animation {
    0%{
        position: relative;
        top:0px;
        right:0px;
    }
    100%{
        position: relative;
        top:0px;
        right:60px;
    }
    
}

@media (max-width:750px) and (min-width:600px){
    .visualizer{
        transform: scale(0.7);
    }
    .array-to-text-container{
        font-size: 20px;
    }
    .sorting-status{
        font-size: 20px;
    }
    .pikachu-container{
        height: 50px;
        width: 50px;;
    }
}

@media (min-width:500px) and (max-width:600px){
    .visualizer{
        transform: scale(0.6);
    }
    .array-to-text-container{
        font-size: 20px;
    }
    .sorting-status{
        font-size: 20px;
    }
    .pikachu-container{
        height: 50px;
        width: 50px;;
    }
}

@media (max-width:500px){
    .visualizer{
        transform: scale(0.5);
    }
    .array-to-text-container{
        font-size: 20px;
    }
    .sorting-status{
        font-size: 20px;
    }
    .pikachu-container{
        height: 50px;
        width: 50px;;
    }
}
